<div style="height: 55px; background: #e6fae6; padding: 10px 10px 10px 10px; border: 1px dashed #e0e0e0; font-family: 微软雅黑; font-size: 12px; text-indent: 0em;">
<div style="float: left; width: 55px; height: 55px;"><a href="http://www.cnblogs.com/alex-bn-lee/"><img src="http://images2015.cnblogs.com/blog/323776/201601/323776-20160129105545677-940179626.jpg" alt width="55" height="55"></a></div>
<div style="margin-left: 67px; margin-top: 2px;"> 作者：<a href="http://www.cnblogs.com/alex-bn-lee/" target="_blank">McDelfino</a> <br>
出处：<a href="http://www.cnblogs.com/alex-bn-lee/" target="_blank">http://www.cnblogs.com/alex-bn-lee/</a>
<br>
本文版权归作者和博客园共有，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文链接，谢谢！
</div>

<div>
喜欢博主的内容可以扫红包哦，也可以直接支付哦，谢谢支持！
</div>
<div>
<img src="http://images2015.cnblogs.com/blog/323776/201601/323776-20160129105545677-940179626.jpg" alt width="255" height="255">
</div>

</div>